html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

canvas {
  display: block;
  margin: 0 auto;
}

.blue {
  color: blue;
}

.big {
  font-size: 20px;
}

#firstParagraph {}

.orange {
  background-color: orange;
  max-width: 400px;
  margin: 50px;
}
.inline {
  display: inline-block;
}
